@charset "UTF-8";
/*최근 본 도서 */
#remoteDiv {
 	width : 15%; 
	background-color : rgb(196,246,196);
	position : fixed;
	right : 5%;
	top: 60%;
	min-height: 300px;
	padding-top : 1%;
}


#remoteMent{
	color:black;
	text-align: center;
	font-size:1.2rem;
}
#remoteImg{
	width:80%;
	max-height:150px;
	margin : 5% auto 5% auto;
	
}
#remoteContent{
	width:80%;
	margin : 0 auto;
	text-align : center;
	line-height : 2rem;
}
#remoteImg>a>img{
	width:100%;
	max-height:150px;
}